* {
  margin: 0;
  padding: 0;
  font-family: "Prata", serif;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='390' height='844' preserveAspectRatio='none' viewBox='0 0 390 844'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1045%26quot%3b)' fill='none'%3e%3cpath d='M396.5 844L0 844 L0 703.9Q12.28 683.68%2c 32.5 695.96Q35.35 679.31%2c 52 682.16Q65.02 675.68%2c 71.5 688.71Q94.87 679.58%2c 104 702.95Q134.88 701.33%2c 136.5 732.2Q143.17 706.38%2c 169 713.05Q167.88 679.42%2c 201.5 678.3Q233.92 691.22%2c 221 723.65Q220.15 703.3%2c 240.5 702.45Q249.39 678.84%2c 273 687.73Q284.13 666.36%2c 305.5 677.49Q329.26 668.75%2c 338 692.51Q359.41 694.42%2c 357.5 715.83Q373.44 712.27%2c 377 728.2Q372.16 703.86%2c 396.5 699.02z' fill='rgba(105%2c 56%2c 209%2c 1)'%3e%3c/path%3e%3cpath d='M409.5 844L0 844 L0 730.64Q24.58 735.72%2c 19.5 760.31Q8.78 730.09%2c 39 719.37Q65.59 713.46%2c 71.5 740.06Q92.05 741.11%2c 91 761.65Q86.07 724.22%2c 123.5 719.29Q144.88 721.16%2c 143 742.54Q168.69 748.73%2c 162.5 774.43Q155.95 735.38%2c 195 728.82Q214.27 728.59%2c 214.5 747.86Q232.43 746.29%2c 234 764.22Q248.97 759.69%2c 253.5 774.67Q249.74 751.41%2c 273 747.65Q280.24 722.38%2c 305.5 729.62Q309.35 713.97%2c 325 717.82Q365.4 725.73%2c 357.5 766.13Q353.13 742.26%2c 377 737.9Q385.12 713.52%2c 409.5 721.64z' fill='rgba(139%2c 90%2c 197%2c 1)'%3e%3c/path%3e%3cpath d='M396.5 844L0 844 L0 805.98Q11.26 784.74%2c 32.5 796Q33.46 764.46%2c 65 765.43Q88.71 769.64%2c 84.5 793.35Q112.38 788.74%2c 117 816.62Q105.74 772.86%2c 149.5 761.6Q182.52 775.12%2c 169 808.14Q168.18 774.82%2c 201.5 773.99Q211.66 751.65%2c 234 761.82Q273.58 768.9%2c 266.5 808.48Q266.18 775.66%2c 299 775.35Q308.2 752.05%2c 331.5 761.24Q373.89 771.13%2c 364 813.53Q360.56 777.59%2c 396.5 774.15z' fill='rgba(215%2c 112%2c 243%2c 1)'%3e%3c/path%3e%3cpath d='M416 844L0 844 L0 813.01Q33.25 813.76%2c 32.5 847.02Q47.48 842.5%2c 52 857.47Q55.73 841.7%2c 71.5 845.43Q60.7 815.13%2c 91 804.33Q126.61 807.44%2c 123.5 843.05Q146.93 833.98%2c 156 857.42Q159.81 828.73%2c 188.5 832.55Q193 804.54%2c 221 809.04Q237 805.54%2c 240.5 821.55Q264.9 826.45%2c 260 850.86Q246.58 817.94%2c 279.5 804.53Q316.67 822.2%2c 299 859.37Q290.5 831.37%2c 318.5 822.86Q324.88 796.74%2c 351 803.11Q375.39 795%2c 383.5 819.4Q406.22 809.62%2c 416 832.33z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1045'%3e%3crect width='390' height='844' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  margin-bottom: 1.5rem;
}

.butn {
  margin-top: 2rem;
  padding: 6px 60px;
  border-radius: 15px;
  background-color: #8b5ac5;
  border: 2px solid black;
  color: white;
  font-size: 20px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

/* Slider Styles */

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  text-align: center;
  margin-top: 3rem;
  color: purple;
}

.slide-container {
  visibility: hidden;
  margin: 2rem auto;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.slides {
  display: flex;
  height: 100%;
}
.slide {
  min-width: 100%;
  position: relative;
}
.slide img {
  width: 100%;
  height: 100%;
}
